<% layout("/layouts/boilerplate") %>
  <link rel="stylesheet" href="/css/index.css">
  <body>
    <br>
    <div class="headings"><h3>Places Near You!</h3></div>

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">

      <% for(let listing of listings) { %>
        <a href="/listings/<%= listing._id %>" class="icon-link icon-link-hover listing-link">
          <div class="card col listing-card">
            <img src="<%= listing.image.url %>" class="card-img-top" alt="img" style="height: 15rem;">
            <div class="card-img-overlay">
            </div>
            <div class="card-body">
              <h5 class="card-title">
                  <%= listing.eventName %>
              </h5>
              <h6 class="card-date">
                <%= new Date(listing.date.from).toLocaleDateString('en-US', { 
                      year: 'numeric', 
                      month: 'long', 
                      day: '2-digit' 
                }) %>
              </h6>
            <h6 class="card-skills">
              <%= listing.skills%> Rs.<%= listing.price%>/Night
          </h6>
              <p class="card-text">
              </p>
            </div>
          </div>
        </a>
        <% } %>
    </div>
  </body>
